appemissaoNFE/Fly01.EmissaoNFE.API/Web References/NFSE001/NFSE001.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://webservices.totvs.com.br/nfse001.apw" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://webservices.totvs.com.br/nfse001.apw" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.totvs.com.br/nfse001.apw">
      <s:element name="CANCELANFSE001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NFSE" type="s0:NFSE" />
            <s:element minOccurs="1" maxOccurs="1" name="CODMUN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CANCELANFSE001RESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CANCELANFSE001RESULT" type="s0:NFSESID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGAMBNFSE001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AMBIENTENFSE" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="MODNFSE" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAONFSE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CODMUN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CODSIAFI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USO" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MAXLOTE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CNPJAUT" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="ENVSINC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LOGIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PASS" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="AUTORIZACAO" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="CHAVEAUTENTICACAO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TOKENID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CLIENTID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CLIENTSECRET" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGAMBNFSE001RESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGAMBNFSE001RESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGNFSECERTPFX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CERTIFICATE" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="PASSWORD" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="USO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGNFSECERTPFXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGNFSECERTPFXRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGREADYX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CODMUN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGREADYXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGREADYXRESULT" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CONSLOTENFSE001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CODMUN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LOTE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CONSLOTENFSE001RESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CONSLOTENFSE001RESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CONSNOTANFSE001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CODMUN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DATADE" type="s:date" />
            <s:element minOccurs="1" maxOccurs="1" name="DATAATE" type="s:date" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CONSNOTANFSE001RESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CONSNOTANFSE001RESULT" type="s0:NFSE2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CONSSEQNFSE001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CODMUN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CONSSEQNFSE001RESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CONSSEQNFSE001RESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GERAARQIMP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDINICIAL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDFINAL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DEST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATEDECL" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="REPROC" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="DATAINI" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="DATAFIM" type="s:date" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GERAARQIMPRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GERAARQIMPRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GERAARQIMPARR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NFSEARR" type="s0:NFSID" />
            <s:element minOccurs="0" maxOccurs="1" name="DEST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DATEDECL" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="REPROC" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="DATAINI" type="s:date" />
            <s:element minOccurs="0" maxOccurs="1" name="DATAFIM" type="s:date" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GERAARQIMPARRRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GERAARQIMPARRRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETMUNSIAF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CODMUN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETMUNSIAFRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GETMUNSIAFRESULT" type="s0:SIAFLISTRETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MONITORX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TIPOMONITOR" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="IDINICIAL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDFINAL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DATADE" type="s:date" />
            <s:element minOccurs="1" maxOccurs="1" name="DATAATE" type="s:date" />
            <s:element minOccurs="1" maxOccurs="1" name="HORADE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="HORAATE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TEMPO" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="DIASPARAEXCLUSAO" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="IDNOTAS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CALLNAME" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MONITORXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MONITORXRESULT" type="s0:ARRAYOFMONITORNFSE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PROCIMPNFSETXT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CODMUN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ARQTXT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DEST" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PROCIMPNFSETXTRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PROCIMPNFSETXTRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="REMESSANFSE001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NFSE" type="s0:NFSE" />
            <s:element minOccurs="1" maxOccurs="1" name="CODMUN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="REPROC" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="RETESTRUT" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="REMESSANFSE001RESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="REMESSANFSE001RESULT" type="s0:NFSESID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RETMUNCANC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RETMUNCANCRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RETMUNCANCRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RETMUNSERV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CSERVICO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RETMUNSERVRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RETMUNSERVRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RETORNANFSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NFSEID" type="s0:NFSID" />
            <s:element minOccurs="0" maxOccurs="1" name="DIASPARAEXCLUSAO" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RETORNANFSERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RETORNANFSERESULT" type="s0:NFS5" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SCHEMAX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CODMUN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NF" type="s0:NF" />
            <s:element minOccurs="0" maxOccurs="1" name="RETESTRUT" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SCHEMAXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SCHEMAXRESULT" type="s0:ARRAYOFNFSES4" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="STATUSNFSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDTHREAD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="STATUSNFSERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="STATUSNFSERESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TSSCONSRPSNFSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CODMUN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TSSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NUMERORPS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SERIERPS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TIPORPS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TSSCONSRPSNFSERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TSSCONSRPSNFSERESULT" type="s0:TSSCONSRPSNFSERETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VERSAONFSE001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CODMUN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VERSAONFSE001RESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VERSAONFSE001RESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MONITORNFSE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AMBIENTE" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="ERRO" type="s0:ARRAYOFERROSLOTE" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MODALIDADE" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="NFE" type="s0:NFSEXML" />
          <s:element minOccurs="0" maxOccurs="1" name="NFECANCELADA" type="s0:NFSEXML" />
          <s:element minOccurs="1" maxOccurs="1" name="NOTA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROTOCOLO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RECOMENDACAO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RPS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STATUS" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="STATUSCANC" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="URLNFSE" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="XMLRETTSS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NF">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NOTAS" type="s0:ARRAYOFNF001" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFSES4">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MENSAGEM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XML" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFSE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NOTAS" type="s0:ARRAYOFNFSES1" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFSE2">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NOTAS" type="s0:ARRAYOFNFSES2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFSID">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NOTAS" type="s0:ARRAYOFNFSESID1" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFSESID">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s0:ARRAYOFSTRING" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFS5">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NOTAS" type="s0:ARRAYOFNFSES5" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIAFLISTRETURN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CODSERV" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CODSIAF" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TSSCONSRPSNFSERETURN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AMBIENTE" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="CODIGOAUTH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NOTA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RPS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SERIERPS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STATUSNFSE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XMLRETPREF" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ERROSLOTE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CODIGO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MENSAGEM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFSEXML">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XMLCOMPL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XMLERP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XMLPROT" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NF001">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XML" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFSES1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CODCANC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODMUN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NFSECANCELADA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REPROC" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="REPROCWS" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="XML" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFSES2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CODMUN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMNOTA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SITUACAO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFSESID1">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFSES5">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NFE" type="s0:NFSEPROTOCOLO" />
          <s:element minOccurs="0" maxOccurs="1" name="NFECANCELADA" type="s0:NFSEPROTOCOLO" />
          <s:element minOccurs="0" maxOccurs="1" name="NUMNSE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XMLRETTSS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NFSEPROTOCOLO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PROTOCOLO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XMLCOMPL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XMLERP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XMLPROT" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFMONITORNFSE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MONITORNFSE" type="s0:MONITORNFSE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFNFSES4">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NFSES4" type="s0:NFSES4" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFERROSLOTE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ERROSLOTE" type="s0:ERROSLOTE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFNF001">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NF001" type="s0:NF001" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFNFSES1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NFSES1" type="s0:NFSES1" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFNFSES2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NFSES2" type="s0:NFSES2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFNFSESID1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NFSESID1" type="s0:NFSESID1" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFSTRING">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="STRING" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFNFSES5">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NFSES5" type="s0:NFSES5" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="CANCELANFSE001SOAPIN">
    <part name="parameters" element="s0:CANCELANFSE001" />
  </message>
  <message name="CANCELANFSE001SOAPOUT">
    <part name="parameters" element="s0:CANCELANFSE001RESPONSE" />
  </message>
  <message name="CFGAMBNFSE001SOAPIN">
    <part name="parameters" element="s0:CFGAMBNFSE001" />
  </message>
  <message name="CFGAMBNFSE001SOAPOUT">
    <part name="parameters" element="s0:CFGAMBNFSE001RESPONSE" />
  </message>
  <message name="CFGNFSECERTPFXSOAPIN">
    <part name="parameters" element="s0:CFGNFSECERTPFX" />
  </message>
  <message name="CFGNFSECERTPFXSOAPOUT">
    <part name="parameters" element="s0:CFGNFSECERTPFXRESPONSE" />
  </message>
  <message name="CFGREADYXSOAPIN">
    <part name="parameters" element="s0:CFGREADYX" />
  </message>
  <message name="CFGREADYXSOAPOUT">
    <part name="parameters" element="s0:CFGREADYXRESPONSE" />
  </message>
  <message name="CONSLOTENFSE001SOAPIN">
    <part name="parameters" element="s0:CONSLOTENFSE001" />
  </message>
  <message name="CONSLOTENFSE001SOAPOUT">
    <part name="parameters" element="s0:CONSLOTENFSE001RESPONSE" />
  </message>
  <message name="CONSNOTANFSE001SOAPIN">
    <part name="parameters" element="s0:CONSNOTANFSE001" />
  </message>
  <message name="CONSNOTANFSE001SOAPOUT">
    <part name="parameters" element="s0:CONSNOTANFSE001RESPONSE" />
  </message>
  <message name="CONSSEQNFSE001SOAPIN">
    <part name="parameters" element="s0:CONSSEQNFSE001" />
  </message>
  <message name="CONSSEQNFSE001SOAPOUT">
    <part name="parameters" element="s0:CONSSEQNFSE001RESPONSE" />
  </message>
  <message name="GERAARQIMPSOAPIN">
    <part name="parameters" element="s0:GERAARQIMP" />
  </message>
  <message name="GERAARQIMPSOAPOUT">
    <part name="parameters" element="s0:GERAARQIMPRESPONSE" />
  </message>
  <message name="GERAARQIMPARRSOAPIN">
    <part name="parameters" element="s0:GERAARQIMPARR" />
  </message>
  <message name="GERAARQIMPARRSOAPOUT">
    <part name="parameters" element="s0:GERAARQIMPARRRESPONSE" />
  </message>
  <message name="GETMUNSIAFSOAPIN">
    <part name="parameters" element="s0:GETMUNSIAF" />
  </message>
  <message name="GETMUNSIAFSOAPOUT">
    <part name="parameters" element="s0:GETMUNSIAFRESPONSE" />
  </message>
  <message name="MONITORXSOAPIN">
    <part name="parameters" element="s0:MONITORX" />
  </message>
  <message name="MONITORXSOAPOUT">
    <part name="parameters" element="s0:MONITORXRESPONSE" />
  </message>
  <message name="PROCIMPNFSETXTSOAPIN">
    <part name="parameters" element="s0:PROCIMPNFSETXT" />
  </message>
  <message name="PROCIMPNFSETXTSOAPOUT">
    <part name="parameters" element="s0:PROCIMPNFSETXTRESPONSE" />
  </message>
  <message name="REMESSANFSE001SOAPIN">
    <part name="parameters" element="s0:REMESSANFSE001" />
  </message>
  <message name="REMESSANFSE001SOAPOUT">
    <part name="parameters" element="s0:REMESSANFSE001RESPONSE" />
  </message>
  <message name="RETMUNCANCSOAPIN">
    <part name="parameters" element="s0:RETMUNCANC" />
  </message>
  <message name="RETMUNCANCSOAPOUT">
    <part name="parameters" element="s0:RETMUNCANCRESPONSE" />
  </message>
  <message name="RETMUNSERVSOAPIN">
    <part name="parameters" element="s0:RETMUNSERV" />
  </message>
  <message name="RETMUNSERVSOAPOUT">
    <part name="parameters" element="s0:RETMUNSERVRESPONSE" />
  </message>
  <message name="RETORNANFSESOAPIN">
    <part name="parameters" element="s0:RETORNANFSE" />
  </message>
  <message name="RETORNANFSESOAPOUT">
    <part name="parameters" element="s0:RETORNANFSERESPONSE" />
  </message>
  <message name="SCHEMAXSOAPIN">
    <part name="parameters" element="s0:SCHEMAX" />
  </message>
  <message name="SCHEMAXSOAPOUT">
    <part name="parameters" element="s0:SCHEMAXRESPONSE" />
  </message>
  <message name="STATUSNFSESOAPIN">
    <part name="parameters" element="s0:STATUSNFSE" />
  </message>
  <message name="STATUSNFSESOAPOUT">
    <part name="parameters" element="s0:STATUSNFSERESPONSE" />
  </message>
  <message name="TSSCONSRPSNFSESOAPIN">
    <part name="parameters" element="s0:TSSCONSRPSNFSE" />
  </message>
  <message name="TSSCONSRPSNFSESOAPOUT">
    <part name="parameters" element="s0:TSSCONSRPSNFSERESPONSE" />
  </message>
  <message name="VERSAONFSE001SOAPIN">
    <part name="parameters" element="s0:VERSAONFSE001" />
  </message>
  <message name="VERSAONFSE001SOAPOUT">
    <part name="parameters" element="s0:VERSAONFSE001RESPONSE" />
  </message>
  <portType name="NFSE001SOAP">
    <operation name="CANCELANFSE001">
      <documentation>&lt;b&gt;Método de cancelamento de Nota Fiscal de Servico Eletronica .</documentation>
      <input message="s0:CANCELANFSE001SOAPIN" />
      <output message="s0:CANCELANFSE001SOAPOUT" />
    </operation>
    <operation name="CFGAMBNFSE001">
      <documentation>&lt;b&gt;Método de configuração do ambiente da Nota Fiscal de Servico Eletronica.</documentation>
      <input message="s0:CFGAMBNFSE001SOAPIN" />
      <output message="s0:CFGAMBNFSE001SOAPOUT" />
    </operation>
    <operation name="CFGNFSECERTPFX">
      <documentation>&lt;b&gt;Método de administração dos certificados digitais para a Nota Fiscal de Servico Eletronica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método deve ser utilizado para informar ao sistema qual certificado digital deverá ser utilizado para a assinatura da nota fiscal eletrônica.&lt;br&gt;Lembre-se os certificado digital deve ser informado no formato do pfx.</documentation>
      <input message="s0:CFGNFSECERTPFXSOAPIN" />
      <output message="s0:CFGNFSECERTPFXSOAPOUT" />
    </operation>
    <operation name="CFGREADYX">
      <documentation>&lt;b&gt;Método para verificação da configuração do TSS.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método deve ser utilizado para verificar se o serviço do TSS possui os certificados digitais e as configuracoes de ambiente consistentes.</documentation>
      <input message="s0:CFGREADYXSOAPIN" />
      <output message="s0:CFGREADYXSOAPOUT" />
    </operation>
    <operation name="CONSLOTENFSE001">
      <documentation>&lt;b&gt;Método de consulta de lote de RPS.</documentation>
      <input message="s0:CONSLOTENFSE001SOAPIN" />
      <output message="s0:CONSLOTENFSE001SOAPOUT" />
    </operation>
    <operation name="CONSNOTANFSE001">
      <documentation>&lt;b&gt;Método de consulta de Nota Fiscal de Servico Eletronica por data de emissão.</documentation>
      <input message="s0:CONSNOTANFSE001SOAPIN" />
      <output message="s0:CONSNOTANFSE001SOAPOUT" />
    </operation>
    <operation name="CONSSEQNFSE001">
      <documentation>&lt;b&gt;Método de consulta de sequencial de Nota Fiscal de Servico Eletronica emitida.</documentation>
      <input message="s0:CONSSEQNFSE001SOAPIN" />
      <output message="s0:CONSSEQNFSE001SOAPOUT" />
    </operation>
    <operation name="GERAARQIMP">
      <documentation>&lt;b&gt;Método de Geraçao do Arquivo Texto no formado do layout da prefeitura correspondente.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método realiza a geração do arquivo Texto no formato correto para importação no site da Prefeitura.O arquivo será gravado no diretório \ArqImp\ dentro do FTP configurado.&lt;br&gt;A aplicação deve restringir o número máximo de NFSe para que o serviço não seja interrompido por timeout.</documentation>
      <input message="s0:GERAARQIMPSOAPIN" />
      <output message="s0:GERAARQIMPSOAPOUT" />
    </operation>
    <operation name="GERAARQIMPARR">
      <documentation>&lt;b&gt;Método de Geraçao do Arquivo Texto no formado do layout da prefeitura correspondente.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método realiza a geração do arquivo Texto no formato correto para importação no site da Prefeitura com Base em um Array de IDs.O arquivo será gravado no diretório \ArqImp\ dentro do FTP configurado.&lt;br&gt;A aplicação deve restringir o número máximo de NFSe para que o serviço não seja interrompido por timeout.</documentation>
      <input message="s0:GERAARQIMPARRSOAPIN" />
      <output message="s0:GERAARQIMPARRSOAPOUT" />
    </operation>
    <operation name="GETMUNSIAF">
      <documentation>&lt;b&gt;Funcao para retornar o Codigo SIAFI a partir do Cod IBGE&lt;br&gt;</documentation>
      <input message="s0:GETMUNSIAFSOAPIN" />
      <output message="s0:GETMUNSIAFSOAPOUT" />
    </operation>
    <operation name="MONITORX">
      <documentation>&lt;b&gt;Método de monitoramento do situação da Nfse.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método deve ser utilizado para monitorar a situação da Nfse, onde poderá ser observado o número de autorização (protocolo), as mensagens de erro e a sugestão do sistema.&lt;br&gt;A aplicação deve restringir o número máximo de Nfses do intervalo para que o serviço não seja interrompido por timeout.</documentation>
      <input message="s0:MONITORXSOAPIN" />
      <output message="s0:MONITORXSOAPOUT" />
    </operation>
    <operation name="PROCIMPNFSETXT">
      <documentation>&lt;b&gt;Metodo para importação do arquivo de retorno da prefeitura para o TSS.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método realiza a importação do arquivo de retorno com as NFSEs geradas pela prefeitura.&lt;br&gt;</documentation>
      <input message="s0:PROCIMPNFSETXTSOAPIN" />
      <output message="s0:PROCIMPNFSETXTSOAPOUT" />
    </operation>
    <operation name="REMESSANFSE001">
      <documentation>&lt;b&gt;Método de Transmissao para Nota Fiscal de Servico Eletronica .</documentation>
      <input message="s0:REMESSANFSE001SOAPIN" />
      <output message="s0:REMESSANFSE001SOAPOUT" />
    </operation>
    <operation name="RETMUNCANC">
      <documentation>&lt;b&gt;Metodo para retorno dos codigos de municipios que possuem o serviço de cancelamento da NFS-e disponivel para uso. (Separados pelo caractere - underscore)&lt;br&gt;</documentation>
      <input message="s0:RETMUNCANCSOAPIN" />
      <output message="s0:RETMUNCANCSOAPOUT" />
    </operation>
    <operation name="RETMUNSERV">
      <documentation>&lt;b&gt;Metodo para retornar os municipios da NFSE do TSS.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método retorna uma string com os municipios da NFSE de acordo com o servico informado.&lt;br&gt;	</documentation>
      <input message="s0:RETMUNSERVSOAPIN" />
      <output message="s0:RETMUNSERVSOAPOUT" />
    </operation>
    <operation name="RETORNANFSE">
      <documentation>&lt;b&gt;Método de Retorno do XML da NFSe autorizada na Prefeitura de origem por relação de notas.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método permite uma ou várias notas sem que seus números estejam em um intervalo.&lt;br&gt;A aplicação deve restringir o número máximo de NFSe para que o serviço não seja interrompido por timeout.</documentation>
      <input message="s0:RETORNANFSESOAPIN" />
      <output message="s0:RETORNANFSESOAPOUT" />
    </operation>
    <operation name="SCHEMAX">
      <documentation>&lt;b&gt;Método de validação do XML da NFSE Municipa, conforme a versão do layout configurada pelo serviço de configuração da NFse&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método realiza as mesmas operações do método 'Remessa001' porém não realiza a transmissão para o SEFAZ o municipio.</documentation>
      <input message="s0:SCHEMAXSOAPIN" />
      <output message="s0:SCHEMAXSOAPOUT" />
    </operation>
    <operation name="STATUSNFSE">
      <documentation>&lt;b&gt;Metodo para retorno do status do processamento no TSS.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método realiza a verificação do Status do Processmaento do arquivo texto solicitado pelo Método GeraArqImpe pelo Método ProcImpNfse.&lt;br&gt;</documentation>
      <input message="s0:STATUSNFSESOAPIN" />
      <output message="s0:STATUSNFSESOAPOUT" />
    </operation>
    <operation name="TSSCONSRPSNFSE">
      <documentation>&lt;b&gt;Metodo de consulta de Nota Fiscal de Servico Eletrônica, através do Número e Série do RPS.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método retorna os dados da NFs-e gerada na Prefeitura e atualiza a base do TSS com a autorização caso seja retornado pela prefeitura.&lt;br&gt;Este método atende somente as prefeituras que a empresa Ginfes desenvolveu o sistema da NFs-e e homologados pelo TSS.</documentation>
      <input message="s0:TSSCONSRPSNFSESOAPIN" />
      <output message="s0:TSSCONSRPSNFSESOAPOUT" />
    </operation>
    <operation name="VERSAONFSE001">
      <documentation>&lt;b&gt;Método de Verificacao da versao do WS de acordo com o municipio.</documentation>
      <input message="s0:VERSAONFSE001SOAPIN" />
      <output message="s0:VERSAONFSE001SOAPOUT" />
    </operation>
  </portType>
  <binding name="NFSE001SOAP" type="s0:NFSE001SOAP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CANCELANFSE001">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/CANCELANFSE001" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGAMBNFSE001">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/CFGAMBNFSE001" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGNFSECERTPFX">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/CFGNFSECERTPFX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGREADYX">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/CFGREADYX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CONSLOTENFSE001">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/CONSLOTENFSE001" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CONSNOTANFSE001">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/CONSNOTANFSE001" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CONSSEQNFSE001">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/CONSSEQNFSE001" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GERAARQIMP">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/GERAARQIMP" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GERAARQIMPARR">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/GERAARQIMPARR" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GETMUNSIAF">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/GETMUNSIAF" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="MONITORX">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/MONITORX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PROCIMPNFSETXT">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/PROCIMPNFSETXT" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="REMESSANFSE001">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/REMESSANFSE001" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RETMUNCANC">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/RETMUNCANC" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RETMUNSERV">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/RETMUNSERV" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RETORNANFSE">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/RETORNANFSE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SCHEMAX">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/SCHEMAX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="STATUSNFSE">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/STATUSNFSE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TSSCONSRPSNFSE">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/TSSCONSRPSNFSE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="VERSAONFSE001">
      <soap:operation soapAction="http://webservices.totvs.com.br/nfse001.apw/VERSAONFSE001" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NFSE001">
    <documentation>&lt;b&gt;Serviço de administração das notas fiscais eletrônicas de servico.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este serviço permite a total integração com a nota fiscal eletrônica de servico [ISS] de diversos municipios.Para maiores informacoes e municipios contemplados verifique a documentacao do TSS.</documentation>
    <port name="NFSE001SOAP" binding="s0:NFSE001SOAP">
      <soap:address location="http://sped.homologacao.totvs.com.br:8087/nfe/NFSE001.apw" />
    </port>
  </service>
</definitions>