appemissaoNFE/Fly01.EmissaoNFE.API/Web References/SPEDADM/SPEDADM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://webservices.totvs.com.br/spedadm.apw" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://webservices.totvs.com.br/spedadm.apw" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.totvs.com.br/spedadm.apw">
      <s:element name="ADDENTFILE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="KEYPASS" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NOME" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ADDENTFILERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ADDENTFILERESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ADMEMISS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UF" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OPC" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="ARQUIVO" type="s0:ARQUIVOAUT" />
            <s:element minOccurs="0" maxOccurs="1" name="PARTNER" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ADMEMISSRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ADMEMISSRESULT" type="s0:AUTEMP_EMISSAO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ADMEMPRESAS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EMPRESA" type="s0:SPED_ENTIDADE" />
            <s:element minOccurs="1" maxOccurs="1" name="OUTRASINSCRICOES" type="s0:SPED_ENTIDADEREFERENCIAL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ADMEMPRESASRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ADMEMPRESASRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CONSULTEMISS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PEDIDO" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDINICIAL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDFINAL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CONSULTEMISSRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CONSULTEMISSRESULT" type="s0:ARRAYOFCONTROLENFEEMISS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ENTIDADEATIVA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OPC" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ENTIDADEATIVARESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ENTIDADEATIVARESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ENTIDADECLEAR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ENTIDADECLEARRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ENTIDADECLEARRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETADMEMPRESAS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDEMPRESA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETADMEMPRESASRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GETADMEMPRESASRESULT" type="s0:ARRAYOFSPED_ENTIDADE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETADMEMPRESASID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDEMPRESA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETADMEMPRESASIDRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GETADMEMPRESASIDRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETINFOPEDNFE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="KEYPASS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETINFOPEDNFERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GETINFOPEDNFERESULT" type="s0:PEDIDOSNFE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETPASSENT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NEWPASS" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OPC" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETPASSENTRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GETPASSENTRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ARQUIVOAUT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DATAPED" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="IE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PEDIDO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QTDPED" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="UF" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AUTEMP_EMISSAO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_ENT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QTDE" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="SALDO" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="UF" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SPED_ENTIDADE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BAIRRO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CEP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEP_CP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_MUN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_PAIS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMPL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DDD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DTRE" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ENDERECO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FANTASIA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FAX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_MATRIZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDEMPRESA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INDSITESP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MUN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NIRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NIT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NOME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUFRAMA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UF" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CONTROLENFEEMISS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CNPJDEST" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DATE_NFE" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" name="ERROS" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="NFE_ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PED_DPEC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PED_NFE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SPED_ENTIDADEREFERENCIAL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="INSCRICAO" type="s0:ARRAYOFSPED_GENERICSTRUCT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PEDIDOSNFE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PEDIDOS" type="s0:ARRAYOFENTPEDNFE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SPED_GENERICSTRUCT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DESCRIPTION" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ENTPEDNFE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DATAPED" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" name="NFE_ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PEDIDO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QTDPED" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="SALDO" type="s:integer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFSPED_ENTIDADE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SPED_ENTIDADE" type="s0:SPED_ENTIDADE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFCONTROLENFEEMISS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CONTROLENFEEMISS" type="s0:CONTROLENFEEMISS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFSPED_GENERICSTRUCT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SPED_GENERICSTRUCT" type="s0:SPED_GENERICSTRUCT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFENTPEDNFE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ENTPEDNFE" type="s0:ENTPEDNFE" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="ADDENTFILESOAPIN">
    <part name="parameters" element="s0:ADDENTFILE" />
  </message>
  <message name="ADDENTFILESOAPOUT">
    <part name="parameters" element="s0:ADDENTFILERESPONSE" />
  </message>
  <message name="ADMEMISSSOAPIN">
    <part name="parameters" element="s0:ADMEMISS" />
  </message>
  <message name="ADMEMISSSOAPOUT">
    <part name="parameters" element="s0:ADMEMISSRESPONSE" />
  </message>
  <message name="ADMEMPRESASSOAPIN">
    <part name="parameters" element="s0:ADMEMPRESAS" />
  </message>
  <message name="ADMEMPRESASSOAPOUT">
    <part name="parameters" element="s0:ADMEMPRESASRESPONSE" />
  </message>
  <message name="CONSULTEMISSSOAPIN">
    <part name="parameters" element="s0:CONSULTEMISS" />
  </message>
  <message name="CONSULTEMISSSOAPOUT">
    <part name="parameters" element="s0:CONSULTEMISSRESPONSE" />
  </message>
  <message name="ENTIDADEATIVASOAPIN">
    <part name="parameters" element="s0:ENTIDADEATIVA" />
  </message>
  <message name="ENTIDADEATIVASOAPOUT">
    <part name="parameters" element="s0:ENTIDADEATIVARESPONSE" />
  </message>
  <message name="ENTIDADECLEARSOAPIN">
    <part name="parameters" element="s0:ENTIDADECLEAR" />
  </message>
  <message name="ENTIDADECLEARSOAPOUT">
    <part name="parameters" element="s0:ENTIDADECLEARRESPONSE" />
  </message>
  <message name="GETADMEMPRESASSOAPIN">
    <part name="parameters" element="s0:GETADMEMPRESAS" />
  </message>
  <message name="GETADMEMPRESASSOAPOUT">
    <part name="parameters" element="s0:GETADMEMPRESASRESPONSE" />
  </message>
  <message name="GETADMEMPRESASIDSOAPIN">
    <part name="parameters" element="s0:GETADMEMPRESASID" />
  </message>
  <message name="GETADMEMPRESASIDSOAPOUT">
    <part name="parameters" element="s0:GETADMEMPRESASIDRESPONSE" />
  </message>
  <message name="GETINFOPEDNFESOAPIN">
    <part name="parameters" element="s0:GETINFOPEDNFE" />
  </message>
  <message name="GETINFOPEDNFESOAPOUT">
    <part name="parameters" element="s0:GETINFOPEDNFERESPONSE" />
  </message>
  <message name="GETPASSENTSOAPIN">
    <part name="parameters" element="s0:GETPASSENT" />
  </message>
  <message name="GETPASSENTSOAPOUT">
    <part name="parameters" element="s0:GETPASSENTRESPONSE" />
  </message>
  <portType name="SPEDADMSOAP">
    <operation name="ADDENTFILE">
      <documentation>&lt;b&gt;Método de Autorizacao de uso da empresa.&lt;/b&gt;&lt;br&gt;&lt;br&gt;</documentation>
      <input message="s0:ADDENTFILESOAPIN" />
      <output message="s0:ADDENTFILESOAPOUT" />
    </operation>
    <operation name="ADMEMISS">
      <documentation>&lt;b&gt;Método de administracao da tabela de autorização de emissão de NF-e, Dpec e CT-e.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método deve ser utilizado para incluir, excluir e alterar as autoruzações de emissão para controle de uso.</documentation>
      <input message="s0:ADMEMISSSOAPIN" />
      <output message="s0:ADMEMISSSOAPOUT" />
    </operation>
    <operation name="ADMEMPRESAS">
      <documentation>&lt;b&gt;Método de administracao da tabela de empresas.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método deve ser utilizado para informar ao sistema quais empresas estão habilitadas a utilização dos serviós do SPED. A identificação de uma empresa é realizada através da chave CNPJ,CPF,IE e UF, caso uma empresa altere estes dados, o sistema irá identificar uma nova empresa e portanto deve-se realizar o encerramento das escriturações antes de realizar esta operação.&lt;br&gt;Por questões de segurança e garantia da integridade da informação sugerimos que antes de executar cada serviço o código da entidade empresarial seja obtido através da execução deste método.</documentation>
      <input message="s0:ADMEMPRESASSOAPIN" />
      <output message="s0:ADMEMPRESASSOAPOUT" />
    </operation>
    <operation name="CONSULTEMISS">
      <documentation>&lt;b&gt;Método de consulta de autorização de emissão de NF-e, Dpec e CT-e.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método deve ser utilizado para obter os dados com as movimentações.</documentation>
      <input message="s0:CONSULTEMISSSOAPIN" />
      <output message="s0:CONSULTEMISSSOAPOUT" />
    </operation>
    <operation name="ENTIDADEATIVA">
      <documentation>&lt;b&gt;Método de administracao da entidade esta ativa ou não.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método deve ser utilizado para informar ao sistema quais são as entidadees ativas para o SPED Nf-e.</documentation>
      <input message="s0:ENTIDADEATIVASOAPIN" />
      <output message="s0:ENTIDADEATIVASOAPOUT" />
    </operation>
    <operation name="ENTIDADECLEAR">
      <documentation>&lt;b&gt;Método para deletar entidades não usadas pelo TSS.&lt;/b&gt;&lt;br&gt;&lt;br&gt;</documentation>
      <input message="s0:ENTIDADECLEARSOAPIN" />
      <output message="s0:ENTIDADECLEARSOAPOUT" />
    </operation>
    <operation name="GETADMEMPRESAS">
      <documentation>&lt;b&gt;Método de recupeção da tabela de empresas.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método deve ser utilizado quando houver necessidade em saber-se as informações da entidade.</documentation>
      <input message="s0:GETADMEMPRESASSOAPIN" />
      <output message="s0:GETADMEMPRESASSOAPOUT" />
    </operation>
    <operation name="GETADMEMPRESASID">
      <documentation>&lt;b&gt;Método de recupeção do ID da tabela de empresas.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método deve ser utilizado quando houver necessidade em saber-se o ID da entidade, sem a necessidade de atualização das tabelas internas.</documentation>
      <input message="s0:GETADMEMPRESASIDSOAPIN" />
      <output message="s0:GETADMEMPRESASIDSOAPOUT" />
    </operation>
    <operation name="GETINFOPEDNFE">
      <documentation>&lt;b&gt;Método de Consulta de pedidos de autorização e saldos disponíveis.&lt;/b&gt;&lt;br&gt;&lt;br&gt;</documentation>
      <input message="s0:GETINFOPEDNFESOAPIN" />
      <output message="s0:GETINFOPEDNFESOAPOUT" />
    </operation>
    <operation name="GETPASSENT">
      <documentation>&lt;b&gt;Método de consulta de senha de utilizacao da entidade para emissão de NF-e, Dpec e CT-e.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este método deve ser utilizado para obter os dados da senha ou altera-la de acordo com a necessidade.</documentation>
      <input message="s0:GETPASSENTSOAPIN" />
      <output message="s0:GETPASSENTSOAPOUT" />
    </operation>
  </portType>
  <binding name="SPEDADMSOAP" type="s0:SPEDADMSOAP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ADDENTFILE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedadm.apw/ADDENTFILE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ADMEMISS">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedadm.apw/ADMEMISS" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ADMEMPRESAS">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedadm.apw/ADMEMPRESAS" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CONSULTEMISS">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedadm.apw/CONSULTEMISS" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ENTIDADEATIVA">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedadm.apw/ENTIDADEATIVA" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ENTIDADECLEAR">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedadm.apw/ENTIDADECLEAR" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GETADMEMPRESAS">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedadm.apw/GETADMEMPRESAS" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GETADMEMPRESASID">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedadm.apw/GETADMEMPRESASID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GETINFOPEDNFE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedadm.apw/GETINFOPEDNFE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GETPASSENT">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedadm.apw/GETPASSENT" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SPEDADM">
    <documentation>&lt;b&gt;Serviço genérico de administração do SPED.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este serviço permite a administração das tabelas comuns do projeto SPED, que são:&lt;br&gt;&lt;br&gt; 1) Entidades - Cadastro das empresas/filiais;</documentation>
    <port name="SPEDADMSOAP" binding="s0:SPEDADMSOAP">
      <soap:address location="http://poad040100155:8080/SPEDADM.apw" />
    </port>
  </service>
</definitions>