Fly01.Core.SOAManager/Web References/SOAManager/SOAManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:i0="http://TotvsSOA.ServiceContracts/v1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://TotvsSOA.ServiceContracts/v1" location="http://localhost:8055/TotvsSOA.Host/SOAManager.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ISOAManager" type="i0:ISOAManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap:operation soapAction="Execute" style="document" />
      <wsdl:input name="SOAManagerExecuteRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOAManagerExecuteResult">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetService">
      <soap:operation soapAction="GetService" style="document" />
      <wsdl:input name="SOAManagerGetServiceRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOAManagerGetServiceResult">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceNames">
      <soap:operation soapAction="GetServiceNames" style="document" />
      <wsdl:input name="SOAManagerGetServiceNamesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOAManagerGetServiceNamesResult">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceTypes">
      <soap:operation soapAction="GetServiceTypes" style="document" />
      <wsdl:input name="SOAManagerGetServiceTypesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOAManagerGetServiceTypesResult">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServicesInfo">
      <soap:operation soapAction="GetServiceInfos" style="document" />
      <wsdl:input name="SOAManagerGetServicesInfoRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOAManagerGetServicesInfoResult">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="CreateUser" style="document" />
      <wsdl:input name="SOAManagerCreateUserRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <soap:operation soapAction="ActivateUser" style="document" />
      <wsdl:input name="SOAManagerActivateUserRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>