appemissaoNFE/Fly01.EmissaoNFE.API/Web References/SPEDCFGNFEProd/SPEDCFGNFE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://webservices.totvs.com.br/spedcfgnfe.apw" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://webservices.totvs.com.br/spedcfgnfe.apw" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.totvs.com.br/spedcfgnfe.apw">
      <s:element name="CFGAMBIENTE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AMBIENTE" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="MODELO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGAMBIENTERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGAMBIENTERESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGAMBIENTEEX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AMBIENTE" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGAMBIENTEEXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGAMBIENTEEXRESULT" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGAMBIENTENSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AMBIENTENSE" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGAMBIENTENSERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGAMBIENTENSERESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGAMBIENTENSEEX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AMBIENTENSE" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGAMBIENTENSEEXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGAMBIENTENSEEXRESULT" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGAUTOOFFLINE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CONTINGENCIA" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="MODELO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGAUTOOFFLINERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGAUTOOFFLINERESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGCANCEVEN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGCANCEVENRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGCANCEVENRESULT" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGCCE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AMBIENTECCE" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="AMBIENTEEPP" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="VERCCELAYOUT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERCCELAYEVEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERCCEEVEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERCCE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="HORAVERAOCCE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="HORARIOCCE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VEREPPLAYOUT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VEREPPLAYEVEN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VEREPPEVEN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VEREPP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SEQLOTECCE" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="SEQLOTEEPP" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGCCERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGCCERESULT" type="s0:STRUCTCFGCCE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGCERTIFICATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CERTIFICATE" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="PRIVATEKEY" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="PASSWORD" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGCERTIFICATERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGCERTIFICATERESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGCERTIFICATEPFX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CERTIFICATE" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="PASSWORD" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGCERTIFICATEPFXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGCERTIFICATEPFXRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGCONNECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGCONNECTRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGCONNECTRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGCONNECTEX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGCONNECTEXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGCONNECTEXRESULT" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGEPECCTE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAOGERALEPEC" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAOEVENEPEC" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAOGERALCANC" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAOEVENCANC" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAOGERALCCE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAOEVENCCE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VERSAOGERALMULT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VERSAOEVENMULT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VERSAOGERALGTV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VERSAOEVENGTV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VERSAOGERALDESAC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VERSAOEVENDESAC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SEQLOTEEPEC" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="CTECANCEVENTO" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="HORAVERAOCTE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HORARIOCTE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGEPECCTERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGEPECCTERESULT" type="s0:STRUCTCFGEPEC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGGETTSSPORTAL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGGETTSSPORTALRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGGETTSSPORTALRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGHSM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SLOT" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="LABEL" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="MODULE" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="PASSWORD" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="IDHEX" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGHSMRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGHSMRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGHSMEX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SLOT" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="LABEL" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="LABELKEY" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="MODULE" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="PASSWORD" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="IDHEX" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGHSMEXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGHSMEXRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGMDFE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AMBIENTEMDFE" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAOMDFE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MODALIDADEMDFE" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="VERMDFELAYOUT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERMDFELAYEVEN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SEQLOTEMDFE" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="HORAVERAOMDFE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HORARIOMDFE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGMDFERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGMDFERESULT" type="s0:STRUCTCFGMDFE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGMODALIDADE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MODALIDADE" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="MODELO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGMODALIDADERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGMODALIDADERESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGMODALIDADEEX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MODALIDADE" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGMODALIDADEEXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGMODALIDADEEXRESULT" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGMODALIDGRV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MODALIDADE" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="MOTIVO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MODELO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGMODALIDGRVRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGMODALIDGRVRESULT" type="s0:MODALIDGRV" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGNOTIFICACAO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NOTIFICACAO" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGNOTIFICACAORESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGNOTIFICACAORESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGPARAMNSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PARNSE" type="s0:PARAMNSE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGPARAMNSERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGPARAMNSERESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGPARAMSPED">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="USACOLAB" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NUMRETNF" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="AMBIENTE" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="MODALIDADE" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAONFE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAONSE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAODPEC" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAOCTE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USERNEOG" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PASSWORD" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="CONFALL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOCSCOL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AMBNFECOLAB" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="AMBCTECOLAB" type="s:integer" />
            <s:element minOccurs="0" maxOccurs="1" name="CFGPARAMDOC" type="s0:CFGS" />
            <s:element minOccurs="0" maxOccurs="1" name="NFECANCEVENTO" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="NFEDISTRDANFE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NFEENVEPEC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGPARAMSPEDRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGPARAMSPEDRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGPOPMAIL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="POP" type="s0:POPSERVER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGPOPMAILRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGPOPMAILRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGPOPMAILNX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="POPNX" type="s0:POPSERVERNX" />
            <s:element minOccurs="0" maxOccurs="1" name="ALTCONFIG" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGPOPMAILNXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGPOPMAILNXRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGREADY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGREADYRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGREADYRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGREADYEX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGREADYEXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGREADYEXRESULT" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGSMTPMAIL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SMTP" type="s0:SMTPSERVER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGSMTPMAILRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGSMTPMAILRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGSMTPMAILNX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SMTPNX" type="s0:SMTPSERVERNX" />
            <s:element minOccurs="0" maxOccurs="1" name="ALTCONFIG" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGSMTPMAILNXRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGSMTPMAILNXRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGSTATUSCERTIFICATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PREFIXO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGSTATUSCERTIFICATERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGSTATUSCERTIFICATERESULT" type="s0:ARRAYOFDIGITALCERTIFICATE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGTEMPOESPERA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TEMPOESPERA" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGTEMPOESPERARESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGTEMPOESPERARESULT" type="s:integer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGTSSPORTAL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="URLPORTAL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGTSSPORTALRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGTSSPORTALRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGTSSVERSAO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGTSSVERSAORESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGTSSVERSAORESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGVERSAO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MODELO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGVERSAORESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGVERSAORESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGVERSAOCTE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MODELO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGVERSAOCTERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGVERSAOCTERESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGVERSAODPEC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGVERSAODPECRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGVERSAODPECRESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGVERSAONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VERSAO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFGVERSAONSERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CFGVERSAONSERESULT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETALLINIPARAM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETALLINIPARAMRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GETALLINIPARAMRESULT" type="s0:ARRAYOFINIPARAM" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETALLMVTSS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ENTSGETALLMV" type="s0:ENTGETALLMV" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETALLMVTSSRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GETALLMVTSSRESULT" type="s0:ARRAYOFRETGETALLMV" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETDATECONT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DATEINIC" type="s:date" />
            <s:element minOccurs="1" maxOccurs="1" name="DATEFIM" type="s:date" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETDATECONTRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GETDATECONTRESULT" type="s0:ARRAYOFGETCONT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETPARAMNSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETPARAMNSERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GETPARAMNSERESULT" type="s0:PARAMNSE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETPOPMAIL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETPOPMAILRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GETPOPMAILRESULT" type="s0:POPSERVER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETSMTPMAIL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETSMTPMAILRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GETSMTPMAILRESULT" type="s0:SMTPSERVER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LOTCCE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LOTCCERESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LOTCCERESULT" type="s0:STRLOTCCE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TSSCFGFTP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USERTOKEN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FTPENABLE" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TSSCFGFTPRESPONSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TSSCFGFTPRESULT" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DIGITALCERTIFICATE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CERTIFICATETYPE" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="ISSUER" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="SUBJECT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VALIDFROM" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" name="VALIDTO" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" name="VERSION" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STRUCTCFGCCE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AMBIENTE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AMBIENTEEPP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HORARIOCCE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HORAVERAOCCE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SEQLOTECCE" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="SEQLOTEEPP" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="VERCCE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERCCEEVEN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERCCELAYEVEN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERCCELAYOUT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VEREPP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VEREPPEVEN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VEREPPLAYEVEN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VEREPPLAYOUT" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STRUCTCFGEPEC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CTECANCEVENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HORARIOCTE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HORAVERAOCTE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SEQLOTEEPEC" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOEVENCANC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOEVENCCE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOEVENDESAC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOEVENEPEC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOEVENGTV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOEVENMULT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOGERALCANC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOGERALCCE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOGERALDESAC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOGERALEPEC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOGERALGTV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERSAOGERALMULT" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STRUCTCFGMDFE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AMBIENTEMDFE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HORARIOMDFE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HORAVERAOMDFE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MODALIDADEMDFE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SEQLOTEMDFE" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="VERMDFELAYEVEN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERMDFELAYOUT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VERSAOMDFE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CFGS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PARAMDOC" type="s0:ARRAYOFCFGDOC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="INIPARAM">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PARAMDESCR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PARAMNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PARAMVALUE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ENTGETALLMV">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SEPARATOR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TYPESEP" type="s:integer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GETCONT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CODCONT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DATEFIM" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" name="DATEINIC" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" name="TIMEFIM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TIMEINIC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XMOTIVO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STRLOTCCE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SEQLOTCCE" type="s:integer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MODALIDGRV">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CODCONT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MSG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VALOR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RETGETALLMV">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_ENT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MVSTRUCT" type="s0:ARRAYOFRETMVGETALLMV" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PARAMNSE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="INCCULT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="REGTRIB" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SIMPNAC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="POPSERVER">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LOGINACCOUNT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MAILPASSWORD" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="MAILSERVER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSL" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TLS" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="POPSERVERNX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LOGINACCOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAILPASSWORD" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="MAILSERVER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSL" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TLS" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SMTPSERVER">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AUTHENTICATIONREQUERED" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LOGINACCOUNT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MAILACCOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAILADMIN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MAILPASSWORD" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="MAILSERVER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSL" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TLS" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SMTPSERVERNX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AUTHENTICATIONREQUERED" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LOGINACCOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAILACCOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAILADMIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAILPASSWORD" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="MAILSERVER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSL" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TLS" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CFGDOC">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DOCUMENTOAMBIENTE" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="DOCUMENTOMODELO" type="s:integer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RETMVGETALLMV">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MVDESCR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MVNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MVVALUE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MVVALUEPOS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFDIGITALCERTIFICATE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DIGITALCERTIFICATE" type="s0:DIGITALCERTIFICATE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFINIPARAM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="INIPARAM" type="s0:INIPARAM" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFGETCONT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GETCONT" type="s0:GETCONT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFRETGETALLMV">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RETGETALLMV" type="s0:RETGETALLMV" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFCFGDOC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CFGDOC" type="s0:CFGDOC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARRAYOFRETMVGETALLMV">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RETMVGETALLMV" type="s0:RETMVGETALLMV" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="CFGAMBIENTESOAPIN">
    <part name="parameters" element="s0:CFGAMBIENTE" />
  </message>
  <message name="CFGAMBIENTESOAPOUT">
    <part name="parameters" element="s0:CFGAMBIENTERESPONSE" />
  </message>
  <message name="CFGAMBIENTEEXSOAPIN">
    <part name="parameters" element="s0:CFGAMBIENTEEX" />
  </message>
  <message name="CFGAMBIENTEEXSOAPOUT">
    <part name="parameters" element="s0:CFGAMBIENTEEXRESPONSE" />
  </message>
  <message name="CFGAMBIENTENSESOAPIN">
    <part name="parameters" element="s0:CFGAMBIENTENSE" />
  </message>
  <message name="CFGAMBIENTENSESOAPOUT">
    <part name="parameters" element="s0:CFGAMBIENTENSERESPONSE" />
  </message>
  <message name="CFGAMBIENTENSEEXSOAPIN">
    <part name="parameters" element="s0:CFGAMBIENTENSEEX" />
  </message>
  <message name="CFGAMBIENTENSEEXSOAPOUT">
    <part name="parameters" element="s0:CFGAMBIENTENSEEXRESPONSE" />
  </message>
  <message name="CFGAUTOOFFLINESOAPIN">
    <part name="parameters" element="s0:CFGAUTOOFFLINE" />
  </message>
  <message name="CFGAUTOOFFLINESOAPOUT">
    <part name="parameters" element="s0:CFGAUTOOFFLINERESPONSE" />
  </message>
  <message name="CFGCANCEVENSOAPIN">
    <part name="parameters" element="s0:CFGCANCEVEN" />
  </message>
  <message name="CFGCANCEVENSOAPOUT">
    <part name="parameters" element="s0:CFGCANCEVENRESPONSE" />
  </message>
  <message name="CFGCCESOAPIN">
    <part name="parameters" element="s0:CFGCCE" />
  </message>
  <message name="CFGCCESOAPOUT">
    <part name="parameters" element="s0:CFGCCERESPONSE" />
  </message>
  <message name="CFGCERTIFICATESOAPIN">
    <part name="parameters" element="s0:CFGCERTIFICATE" />
  </message>
  <message name="CFGCERTIFICATESOAPOUT">
    <part name="parameters" element="s0:CFGCERTIFICATERESPONSE" />
  </message>
  <message name="CFGCERTIFICATEPFXSOAPIN">
    <part name="parameters" element="s0:CFGCERTIFICATEPFX" />
  </message>
  <message name="CFGCERTIFICATEPFXSOAPOUT">
    <part name="parameters" element="s0:CFGCERTIFICATEPFXRESPONSE" />
  </message>
  <message name="CFGCONNECTSOAPIN">
    <part name="parameters" element="s0:CFGCONNECT" />
  </message>
  <message name="CFGCONNECTSOAPOUT">
    <part name="parameters" element="s0:CFGCONNECTRESPONSE" />
  </message>
  <message name="CFGCONNECTEXSOAPIN">
    <part name="parameters" element="s0:CFGCONNECTEX" />
  </message>
  <message name="CFGCONNECTEXSOAPOUT">
    <part name="parameters" element="s0:CFGCONNECTEXRESPONSE" />
  </message>
  <message name="CFGEPECCTESOAPIN">
    <part name="parameters" element="s0:CFGEPECCTE" />
  </message>
  <message name="CFGEPECCTESOAPOUT">
    <part name="parameters" element="s0:CFGEPECCTERESPONSE" />
  </message>
  <message name="CFGGETTSSPORTALSOAPIN">
    <part name="parameters" element="s0:CFGGETTSSPORTAL" />
  </message>
  <message name="CFGGETTSSPORTALSOAPOUT">
    <part name="parameters" element="s0:CFGGETTSSPORTALRESPONSE" />
  </message>
  <message name="CFGHSMSOAPIN">
    <part name="parameters" element="s0:CFGHSM" />
  </message>
  <message name="CFGHSMSOAPOUT">
    <part name="parameters" element="s0:CFGHSMRESPONSE" />
  </message>
  <message name="CFGHSMEXSOAPIN">
    <part name="parameters" element="s0:CFGHSMEX" />
  </message>
  <message name="CFGHSMEXSOAPOUT">
    <part name="parameters" element="s0:CFGHSMEXRESPONSE" />
  </message>
  <message name="CFGMDFESOAPIN">
    <part name="parameters" element="s0:CFGMDFE" />
  </message>
  <message name="CFGMDFESOAPOUT">
    <part name="parameters" element="s0:CFGMDFERESPONSE" />
  </message>
  <message name="CFGMODALIDADESOAPIN">
    <part name="parameters" element="s0:CFGMODALIDADE" />
  </message>
  <message name="CFGMODALIDADESOAPOUT">
    <part name="parameters" element="s0:CFGMODALIDADERESPONSE" />
  </message>
  <message name="CFGMODALIDADEEXSOAPIN">
    <part name="parameters" element="s0:CFGMODALIDADEEX" />
  </message>
  <message name="CFGMODALIDADEEXSOAPOUT">
    <part name="parameters" element="s0:CFGMODALIDADEEXRESPONSE" />
  </message>
  <message name="CFGMODALIDGRVSOAPIN">
    <part name="parameters" element="s0:CFGMODALIDGRV" />
  </message>
  <message name="CFGMODALIDGRVSOAPOUT">
    <part name="parameters" element="s0:CFGMODALIDGRVRESPONSE" />
  </message>
  <message name="CFGNOTIFICACAOSOAPIN">
    <part name="parameters" element="s0:CFGNOTIFICACAO" />
  </message>
  <message name="CFGNOTIFICACAOSOAPOUT">
    <part name="parameters" element="s0:CFGNOTIFICACAORESPONSE" />
  </message>
  <message name="CFGPARAMNSESOAPIN">
    <part name="parameters" element="s0:CFGPARAMNSE" />
  </message>
  <message name="CFGPARAMNSESOAPOUT">
    <part name="parameters" element="s0:CFGPARAMNSERESPONSE" />
  </message>
  <message name="CFGPARAMSPEDSOAPIN">
    <part name="parameters" element="s0:CFGPARAMSPED" />
  </message>
  <message name="CFGPARAMSPEDSOAPOUT">
    <part name="parameters" element="s0:CFGPARAMSPEDRESPONSE" />
  </message>
  <message name="CFGPOPMAILSOAPIN">
    <part name="parameters" element="s0:CFGPOPMAIL" />
  </message>
  <message name="CFGPOPMAILSOAPOUT">
    <part name="parameters" element="s0:CFGPOPMAILRESPONSE" />
  </message>
  <message name="CFGPOPMAILNXSOAPIN">
    <part name="parameters" element="s0:CFGPOPMAILNX" />
  </message>
  <message name="CFGPOPMAILNXSOAPOUT">
    <part name="parameters" element="s0:CFGPOPMAILNXRESPONSE" />
  </message>
  <message name="CFGREADYSOAPIN">
    <part name="parameters" element="s0:CFGREADY" />
  </message>
  <message name="CFGREADYSOAPOUT">
    <part name="parameters" element="s0:CFGREADYRESPONSE" />
  </message>
  <message name="CFGREADYEXSOAPIN">
    <part name="parameters" element="s0:CFGREADYEX" />
  </message>
  <message name="CFGREADYEXSOAPOUT">
    <part name="parameters" element="s0:CFGREADYEXRESPONSE" />
  </message>
  <message name="CFGSMTPMAILSOAPIN">
    <part name="parameters" element="s0:CFGSMTPMAIL" />
  </message>
  <message name="CFGSMTPMAILSOAPOUT">
    <part name="parameters" element="s0:CFGSMTPMAILRESPONSE" />
  </message>
  <message name="CFGSMTPMAILNXSOAPIN">
    <part name="parameters" element="s0:CFGSMTPMAILNX" />
  </message>
  <message name="CFGSMTPMAILNXSOAPOUT">
    <part name="parameters" element="s0:CFGSMTPMAILNXRESPONSE" />
  </message>
  <message name="CFGSTATUSCERTIFICATESOAPIN">
    <part name="parameters" element="s0:CFGSTATUSCERTIFICATE" />
  </message>
  <message name="CFGSTATUSCERTIFICATESOAPOUT">
    <part name="parameters" element="s0:CFGSTATUSCERTIFICATERESPONSE" />
  </message>
  <message name="CFGTEMPOESPERASOAPIN">
    <part name="parameters" element="s0:CFGTEMPOESPERA" />
  </message>
  <message name="CFGTEMPOESPERASOAPOUT">
    <part name="parameters" element="s0:CFGTEMPOESPERARESPONSE" />
  </message>
  <message name="CFGTSSPORTALSOAPIN">
    <part name="parameters" element="s0:CFGTSSPORTAL" />
  </message>
  <message name="CFGTSSPORTALSOAPOUT">
    <part name="parameters" element="s0:CFGTSSPORTALRESPONSE" />
  </message>
  <message name="CFGTSSVERSAOSOAPIN">
    <part name="parameters" element="s0:CFGTSSVERSAO" />
  </message>
  <message name="CFGTSSVERSAOSOAPOUT">
    <part name="parameters" element="s0:CFGTSSVERSAORESPONSE" />
  </message>
  <message name="CFGVERSAOSOAPIN">
    <part name="parameters" element="s0:CFGVERSAO" />
  </message>
  <message name="CFGVERSAOSOAPOUT">
    <part name="parameters" element="s0:CFGVERSAORESPONSE" />
  </message>
  <message name="CFGVERSAOCTESOAPIN">
    <part name="parameters" element="s0:CFGVERSAOCTE" />
  </message>
  <message name="CFGVERSAOCTESOAPOUT">
    <part name="parameters" element="s0:CFGVERSAOCTERESPONSE" />
  </message>
  <message name="CFGVERSAODPECSOAPIN">
    <part name="parameters" element="s0:CFGVERSAODPEC" />
  </message>
  <message name="CFGVERSAODPECSOAPOUT">
    <part name="parameters" element="s0:CFGVERSAODPECRESPONSE" />
  </message>
  <message name="CFGVERSAONSESOAPIN">
    <part name="parameters" element="s0:CFGVERSAONSE" />
  </message>
  <message name="CFGVERSAONSESOAPOUT">
    <part name="parameters" element="s0:CFGVERSAONSERESPONSE" />
  </message>
  <message name="GETALLINIPARAMSOAPIN">
    <part name="parameters" element="s0:GETALLINIPARAM" />
  </message>
  <message name="GETALLINIPARAMSOAPOUT">
    <part name="parameters" element="s0:GETALLINIPARAMRESPONSE" />
  </message>
  <message name="GETALLMVTSSSOAPIN">
    <part name="parameters" element="s0:GETALLMVTSS" />
  </message>
  <message name="GETALLMVTSSSOAPOUT">
    <part name="parameters" element="s0:GETALLMVTSSRESPONSE" />
  </message>
  <message name="GETDATECONTSOAPIN">
    <part name="parameters" element="s0:GETDATECONT" />
  </message>
  <message name="GETDATECONTSOAPOUT">
    <part name="parameters" element="s0:GETDATECONTRESPONSE" />
  </message>
  <message name="GETPARAMNSESOAPIN">
    <part name="parameters" element="s0:GETPARAMNSE" />
  </message>
  <message name="GETPARAMNSESOAPOUT">
    <part name="parameters" element="s0:GETPARAMNSERESPONSE" />
  </message>
  <message name="GETPOPMAILSOAPIN">
    <part name="parameters" element="s0:GETPOPMAIL" />
  </message>
  <message name="GETPOPMAILSOAPOUT">
    <part name="parameters" element="s0:GETPOPMAILRESPONSE" />
  </message>
  <message name="GETSMTPMAILSOAPIN">
    <part name="parameters" element="s0:GETSMTPMAIL" />
  </message>
  <message name="GETSMTPMAILSOAPOUT">
    <part name="parameters" element="s0:GETSMTPMAILRESPONSE" />
  </message>
  <message name="LOTCCESOAPIN">
    <part name="parameters" element="s0:LOTCCE" />
  </message>
  <message name="LOTCCESOAPOUT">
    <part name="parameters" element="s0:LOTCCERESPONSE" />
  </message>
  <message name="TSSCFGFTPSOAPIN">
    <part name="parameters" element="s0:TSSCFGFTP" />
  </message>
  <message name="TSSCFGFTPSOAPOUT">
    <part name="parameters" element="s0:TSSCFGFTPRESPONSE" />
  </message>
  <portType name="SPEDCFGNFESOAP">
    <operation name="CFGAMBIENTE">
      <documentation>&lt;b&gt;Mtodo de parametrizao do ambiente da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema se o ambiente  de produo(1), homologao(2) ou configurao(0).</documentation>
      <input message="s0:CFGAMBIENTESOAPIN" />
      <output message="s0:CFGAMBIENTESOAPOUT" />
    </operation>
    <operation name="CFGAMBIENTEEX">
      <documentation>&lt;b&gt;Mtodo de parametrizao do ambiente da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema se o ambiente  de produo(1), homologao(2) ou configurao(0).</documentation>
      <input message="s0:CFGAMBIENTEEXSOAPIN" />
      <output message="s0:CFGAMBIENTEEXSOAPOUT" />
    </operation>
    <operation name="CFGAMBIENTENSE">
      <documentation>&lt;b&gt;Mtodo de parametrizao do ambiente da nota fiscal eletrnica de servio.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema se o ambiente  de produo(1), homologao(2) ou configurao(0).</documentation>
      <input message="s0:CFGAMBIENTENSESOAPIN" />
      <output message="s0:CFGAMBIENTENSESOAPOUT" />
    </operation>
    <operation name="CFGAMBIENTENSEEX">
      <documentation>&lt;b&gt;Mtodo de parametrizao do ambiente da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema se o ambiente  de produo(1), homologao(2) ou configurao(0).</documentation>
      <input message="s0:CFGAMBIENTENSEEXSOAPIN" />
      <output message="s0:CFGAMBIENTENSEEXSOAPOUT" />
    </operation>
    <operation name="CFGAUTOOFFLINE">
      <documentation>&lt;b&gt;Mtodo de configurao da Contingncia Off-Line automtica da NFC-e.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema se a Contingncia Off-Line automtica est Habilitada(1), Desabilitada(2) ou qual  a atual Configurao(0).</documentation>
      <input message="s0:CFGAUTOOFFLINESOAPIN" />
      <output message="s0:CFGAUTOOFFLINESOAPOUT" />
    </operation>
    <operation name="CFGCANCEVEN">
      <documentation>&lt;b&gt;Mtodo que retorna informaes se ser ou no enviado o Cancelamento por Evento.&lt;/b&gt;&lt;br&gt;&lt;br&gt;</documentation>
      <input message="s0:CFGCANCEVENSOAPIN" />
      <output message="s0:CFGCANCEVENSOAPOUT" />
    </operation>
    <operation name="CFGCCE">
      <documentation>&lt;b&gt;Mtodo de configurao dos parmetros da Carta de Correo Eletrnica (CC-e).&lt;/b&gt;</documentation>
      <input message="s0:CFGCCESOAPIN" />
      <output message="s0:CFGCCESOAPOUT" />
    </operation>
    <operation name="CFGCERTIFICATE">
      <documentation>&lt;b&gt;Mtodo de administrao dos certificados digitais para a nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema qual certificado digital dever ser utilizado para a assinatura da nota fiscal eletrnica.&lt;br&gt;Lembre-se os certificado digital deve ser informado no formato do Apache (extenso PEM).</documentation>
      <input message="s0:CFGCERTIFICATESOAPIN" />
      <output message="s0:CFGCERTIFICATESOAPOUT" />
    </operation>
    <operation name="CFGCERTIFICATEPFX">
      <documentation>&lt;b&gt;Mtodo de administrao dos certificados digitais para a nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema qual certificado digital dever ser utilizado para a assinatura da nota fiscal eletrnica.&lt;br&gt;Lembre-se os certificado digital deve ser informado no formato do pfx.</documentation>
      <input message="s0:CFGCERTIFICATEPFXSOAPIN" />
      <output message="s0:CFGCERTIFICATEPFXSOAPOUT" />
    </operation>
    <operation name="CFGCONNECT">
      <documentation>&lt;b&gt;Mtodo para teste de conexo com o Totvs Services.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para verificar se o servio do Totvs Services esta no ar.</documentation>
      <input message="s0:CFGCONNECTSOAPIN" />
      <output message="s0:CFGCONNECTSOAPOUT" />
    </operation>
    <operation name="CFGCONNECTEX">
      <documentation>&lt;b&gt;Mtodo para teste de conexo com o Totvs Services.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para verificar se o servio do Totvs Services esta no ar.</documentation>
      <input message="s0:CFGCONNECTEXSOAPIN" />
      <output message="s0:CFGCONNECTEXSOAPOUT" />
    </operation>
    <operation name="CFGEPECCTE">
      <documentation>&lt;b&gt;Mtodo de configuracao dos parametros dos Eventos do CTe.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para configurar o uso dos seguintes eventos: EPEC, Cancelamento, CC-e, Registro do Multimodal, Informaes da GTV e Prestao do Servio em Desacordo.</documentation>
      <input message="s0:CFGEPECCTESOAPIN" />
      <output message="s0:CFGEPECCTESOAPOUT" />
    </operation>
    <operation name="CFGGETTSSPORTAL">
      <documentation>&lt;b&gt;Mtodo que retorna URL do TSS Portal.&lt;/b&gt;&lt;br&gt;&lt;br&gt;</documentation>
      <input message="s0:CFGGETTSSPORTALSOAPIN" />
      <output message="s0:CFGGETTSSPORTALSOAPOUT" />
    </operation>
    <operation name="CFGHSM">
      <documentation>&lt;b&gt;Mtodo de administrao do HSM para a nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema o certificado digital do HSM que deve ser utilizado.</documentation>
      <input message="s0:CFGHSMSOAPIN" />
      <output message="s0:CFGHSMSOAPOUT" />
    </operation>
    <operation name="CFGHSMEX">
      <documentation>&lt;b&gt;Mtodo de administrao do HSM para a nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema o certificado digital do HSM que deve ser utilizado quando necessrio passar o Label da Chave do Certificado.</documentation>
      <input message="s0:CFGHSMEXSOAPIN" />
      <output message="s0:CFGHSMEXSOAPOUT" />
    </operation>
    <operation name="CFGMDFE">
      <documentation>&lt;b&gt;Mtodo de configurao dos parmetros do Manifesto Eletrnico de Documentos Fiscais (MDF-e).&lt;/b&gt;&lt;br&gt;&lt;br&gt;</documentation>
      <input message="s0:CFGMDFESOAPIN" />
      <output message="s0:CFGMDFESOAPOUT" />
    </operation>
    <operation name="CFGMODALIDADE">
      <documentation>&lt;b&gt;Mtodo de parametrizao da modalidade de emisso da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema se a modalide  normal(1), contingncia(2) ou configurao(0).</documentation>
      <input message="s0:CFGMODALIDADESOAPIN" />
      <output message="s0:CFGMODALIDADESOAPOUT" />
    </operation>
    <operation name="CFGMODALIDADEEX">
      <documentation>&lt;b&gt;Mtodo de parametrizao da modalidade de emisso da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema se a modalide  normal(1), contingncia(2) ou configurao(0).</documentation>
      <input message="s0:CFGMODALIDADEEXSOAPIN" />
      <output message="s0:CFGMODALIDADEEXSOAPOUT" />
    </operation>
    <operation name="CFGMODALIDGRV">
      <documentation>&lt;b&gt;Mtodo de parametrizao da modalidade de emisso da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema se a modalide  normal(1), contingncia(2) ou configurao(0). Quando for entrada em contigncia e for passado um motivo o mesmo sera gravado na SPED056 junto com DATA e HORA INICIAL ao retornar ao ambiente normal sera gravada DATA E HORA FINAL da contigencia.</documentation>
      <input message="s0:CFGMODALIDGRVSOAPIN" />
      <output message="s0:CFGMODALIDGRVSOAPOUT" />
    </operation>
    <operation name="CFGNOTIFICACAO">
      <documentation>&lt;b&gt;Mtodo de configuracao do envio de notificacoes da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para enviar uma notificacao sobre os cancelamentos e consultas das notas fiscais.</documentation>
      <input message="s0:CFGNOTIFICACAOSOAPIN" />
      <output message="s0:CFGNOTIFICACAOSOAPOUT" />
    </operation>
    <operation name="CFGPARAMNSE">
      <documentation>&lt;b&gt;Mtodo de parametrizao de dados necessrios para a nota fiscal eletrnica de servio.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema qual o (Regime especial de Tribuo) do Contribuinte, se ele  (Optante Simples Nacional) e se ele (Incentivador Cultural).</documentation>
      <input message="s0:CFGPARAMNSESOAPIN" />
      <output message="s0:CFGPARAMNSESOAPOUT" />
    </operation>
    <operation name="CFGPARAMSPED">
      <documentation>&lt;b&gt;Mtodo de configuracao dos Parmetros da NF-e.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este Mtodo deve ser utilizado para informar qual a configurao dos parmetros de funcionamento do TSS.Apenas com este mtodo  possvel se configura o  parmetro de Colaborao(MV_TOTVSCO). Podem ser configurados tambm os parmetros de Verso, Modalidade e Ambiente da NF-e,CT-e e NFS-e.</documentation>
      <input message="s0:CFGPARAMSPEDSOAPIN" />
      <output message="s0:CFGPARAMSPEDSOAPOUT" />
    </operation>
    <operation name="CFGPOPMAIL">
      <documentation>&lt;b&gt;Mtodo de configuracao do servidor POP de e-mail da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema os dados necessrios para o acesso ao servidor POP que ser utilizado na leitura das Notas Fiscais eletrnicas encaminhadas.</documentation>
      <input message="s0:CFGPOPMAILSOAPIN" />
      <output message="s0:CFGPOPMAILSOAPOUT" />
    </operation>
    <operation name="CFGPOPMAILNX">
      <documentation>&lt;b&gt;Mtodo de configuracao do servidor POP de e-mail da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema os dados necessrios para o acesso ao servidor POP que ser utilizado na leitura das Notas Fiscais eletrnicas encaminhadas.Sendo a reconfigurao com valores vazios.</documentation>
      <input message="s0:CFGPOPMAILNXSOAPIN" />
      <output message="s0:CFGPOPMAILNXSOAPOUT" />
    </operation>
    <operation name="CFGREADY">
      <documentation>&lt;b&gt;Mtodo para verificao da configurao do Totvs Services.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para verificar se o servio do Totvs Services possui os certificados digitais.</documentation>
      <input message="s0:CFGREADYSOAPIN" />
      <output message="s0:CFGREADYSOAPOUT" />
    </operation>
    <operation name="CFGREADYEX">
      <documentation>&lt;b&gt;Mtodo para verificao da configurao do Totvs Services.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para verificar se o servio do Totvs Services possui os certificados digitais.</documentation>
      <input message="s0:CFGREADYEXSOAPIN" />
      <output message="s0:CFGREADYEXSOAPOUT" />
    </operation>
    <operation name="CFGSMTPMAIL">
      <documentation>&lt;b&gt;Mtodo de configuracao do servidor SMTP de e-mail da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema os dados necessrios para o acesso ao servidor SMTP que ser utilizado na transmisso da Nota Fiscal eletrnica para o destinatrio da mesma.</documentation>
      <input message="s0:CFGSMTPMAILSOAPIN" />
      <output message="s0:CFGSMTPMAILSOAPOUT" />
    </operation>
    <operation name="CFGSMTPMAILNX">
      <documentation>&lt;b&gt;Mtodo de configuracao do servidor SMTP de e-mail da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema os dados necessrios para o acesso ao servidor SMTP que ser utilizado na transmisso da Nota Fiscal eletrnica para o destinatrio da mesma.Sendo a reconfigurao com valores vazios.</documentation>
      <input message="s0:CFGSMTPMAILNXSOAPIN" />
      <output message="s0:CFGSMTPMAILNXSOAPOUT" />
    </operation>
    <operation name="CFGSTATUSCERTIFICATE">
      <documentation>&lt;b&gt;Mtodo de verificacao da validade dos certificados digitais da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema o status do certificado digital quanto ao vencimento.</documentation>
      <input message="s0:CFGSTATUSCERTIFICATESOAPIN" />
      <output message="s0:CFGSTATUSCERTIFICATESOAPOUT" />
    </operation>
    <operation name="CFGTEMPOESPERA">
      <documentation>&lt;b&gt;Mtodo de parametrizao do tempo de espera de retorno da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema qual o tempo de espera mximo (em minutos) para que o sistema sugira ao usurio entrar em contingncia. O tempo mnimo  de 3 minutos, se for informado um valor inferior a este, o parmetro no ser alterado. O web services retorna o tempo de espera configurado anteriormente.</documentation>
      <input message="s0:CFGTEMPOESPERASOAPIN" />
      <output message="s0:CFGTEMPOESPERASOAPOUT" />
    </operation>
    <operation name="CFGTSSPORTAL">
      <documentation>&lt;b&gt;Mtodo que configura se a entidade usa portal.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo ir configurar a URL do portal hospedado e para qual entidade estar configurado.</documentation>
      <input message="s0:CFGTSSPORTALSOAPIN" />
      <output message="s0:CFGTSSPORTALSOAPOUT" />
    </operation>
    <operation name="CFGTSSVERSAO">
      <documentation>&lt;b&gt;Mtodo que descreve a versao do TSS.</documentation>
      <input message="s0:CFGTSSVERSAOSOAPIN" />
      <output message="s0:CFGTSSVERSAOSOAPOUT" />
    </operation>
    <operation name="CFGVERSAO">
      <documentation>&lt;b&gt;Mtodo de parametrizao da verso do layout do manual de integrao (contribuinte) da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema para qual verso o sistema deve converter o XML recebido do ERP. Caso a verso no seja informada o mtodo ir retornar a lista de verses disponveis. Caso a verso informada seja '0.00' o mtodo ir retornar a verso configurada. Caso a versao informada seja '9.99' o metodo nao ira configurar a versao.</documentation>
      <input message="s0:CFGVERSAOSOAPIN" />
      <output message="s0:CFGVERSAOSOAPOUT" />
    </operation>
    <operation name="CFGVERSAOCTE">
      <documentation>&lt;b&gt;Mtodo de parametrizao da verso do layout do manual de integrao (contribuinte) do conhecimento eletrnico.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema para qual verso o sistema deve converter o XML recebido do ERP. Caso a verso no seja informada o mtodo ir retornar a lista de verses disponveis. Caso a verso informada seja '0.00' o mtodo ir retornar a verso configurada. Caso a versao informada seja '9.99' o metodo nao ira configurar a versao.</documentation>
      <input message="s0:CFGVERSAOCTESOAPIN" />
      <output message="s0:CFGVERSAOCTESOAPOUT" />
    </operation>
    <operation name="CFGVERSAODPEC">
      <documentation>&lt;b&gt;Mtodo de parametrizao da verso do layout do Manual do Sistema de Contingncia Eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema para qual verso o sistema deve converter o XML recebido do ERP. Caso a verso no seja informada o mtodo ir retornar a lista de verses disponveis. Caso a verso informada seja '0.00' o mtodo ir retornar a verso configurada. Caso a versao informada seja '9.99' o metodo nao ira configurar a versao.</documentation>
      <input message="s0:CFGVERSAODPECSOAPIN" />
      <output message="s0:CFGVERSAODPECSOAPOUT" />
    </operation>
    <operation name="CFGVERSAONSE">
      <documentation>&lt;b&gt;Mtodo de parametrizao da verso do layout do manual de integrao (contribuinte) da nota fiscal de servio eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para informar ao sistema para qual verso o sistema deve converter o XML recebido do ERP. Caso a verso no seja informada o mtodo ir retornar a lista de verses disponveis. Caso a verso informada seja '0.00' o mtodo ir retornar a verso configurada. Caso a versao informada seja '9.99' o metodo nao ira configurar a versao.</documentation>
      <input message="s0:CFGVERSAONSESOAPIN" />
      <output message="s0:CFGVERSAONSESOAPOUT" />
    </operation>
    <operation name="GETALLINIPARAM">
      <documentation>&lt;b&gt;Mtodo de recuperao de todos os parmetros do arquivo .INI que servem de configurao para as rotinas do TSS.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo ser responsvel por retornar todos os parmetros de configurao do arquivo .INI do TSS. Sero retornados apenas os parmetros que servem de configurao para as rotinas do TSS.</documentation>
      <input message="s0:GETALLINIPARAMSOAPIN" />
      <output message="s0:GETALLINIPARAMSOAPOUT" />
    </operation>
    <operation name="GETALLMVTSS">
      <documentation>&lt;b&gt;Mtodo de recuperao de todos os parmetros para as entidades solicitadas.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo ser responsvel por retornar todos os parmetros configurados para as entidades solicitadas.</documentation>
      <input message="s0:GETALLMVTSSSOAPIN" />
      <output message="s0:GETALLMVTSSSOAPOUT" />
    </operation>
    <operation name="GETDATECONT">
      <documentation>&lt;b&gt;Mtodo de recuperao do log de entrada em contigncia para a nota fiscal eletrnica de servio.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para recuperar as informaes sobre entrada e sada em contigncia.</documentation>
      <input message="s0:GETDATECONTSOAPIN" />
      <output message="s0:GETDATECONTSOAPOUT" />
    </operation>
    <operation name="GETPARAMNSE">
      <documentation>&lt;b&gt;Mtodo de recuperao da configuracao dos dados necessrios para a nota fiscal eletrnica de servio.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para recuperar os dados informados na parametrizao da nota fiscal de servio eletrnica que ser utilizado na leitura das Notas Fiscais de servio eletrnicas encaminhadas.</documentation>
      <input message="s0:GETPARAMNSESOAPIN" />
      <output message="s0:GETPARAMNSESOAPOUT" />
    </operation>
    <operation name="GETPOPMAIL">
      <documentation>&lt;b&gt;Mtodo de recuperao da configuracao do servidor POP de e-mail da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para recuperar os dados informados para o acesso ao servidor POP que ser utilizado na leitura das Notas Fiscais eletrnicas encaminhadas.</documentation>
      <input message="s0:GETPOPMAILSOAPIN" />
      <output message="s0:GETPOPMAILSOAPOUT" />
    </operation>
    <operation name="GETSMTPMAIL">
      <documentation>&lt;b&gt;Mtodo de recuperao da configuracao do servidor SMTP de e-mail da nota fiscal eletrnica.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo deve ser utilizado para recuperar os dados informados para o acesso ao servidor SMTP que ser utilizado na transmisso da Nota Fiscal eletrnica para o destinatrio da mesma.</documentation>
      <input message="s0:GETSMTPMAILSOAPIN" />
      <output message="s0:GETSMTPMAILSOAPOUT" />
    </operation>
    <operation name="LOTCCE">
      <documentation>&lt;b&gt;Mtodo de retorno para o prximo nmero da sequncia de lote para a Carta de Correo Eletrnica (CC-e).&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este mtodo retorna a prxima numerao da sequncia do lote de uma entidade, para utilizao no envio da prxima CC-e.</documentation>
      <input message="s0:LOTCCESOAPIN" />
      <output message="s0:LOTCCESOAPOUT" />
    </operation>
    <operation name="TSSCFGFTP">
      <documentation>&lt;b&gt;Mtodo que configura o TSS como FTP.&lt;/b&gt;&lt;br&gt;&lt;br&gt;</documentation>
      <input message="s0:TSSCFGFTPSOAPIN" />
      <output message="s0:TSSCFGFTPSOAPOUT" />
    </operation>
  </portType>
  <binding name="SPEDCFGNFESOAP" type="s0:SPEDCFGNFESOAP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CFGAMBIENTE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGAMBIENTE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGAMBIENTEEX">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGAMBIENTEEX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGAMBIENTENSE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGAMBIENTENSE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGAMBIENTENSEEX">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGAMBIENTENSEEX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGAUTOOFFLINE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGAUTOOFFLINE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGCANCEVEN">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGCANCEVEN" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGCCE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGCCE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGCERTIFICATE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGCERTIFICATE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGCERTIFICATEPFX">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGCERTIFICATEPFX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGCONNECT">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGCONNECT" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGCONNECTEX">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGCONNECTEX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGEPECCTE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGEPECCTE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGGETTSSPORTAL">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGGETTSSPORTAL" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGHSM">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGHSM" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGHSMEX">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGHSMEX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGMDFE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGMDFE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGMODALIDADE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGMODALIDADE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGMODALIDADEEX">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGMODALIDADEEX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGMODALIDGRV">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGMODALIDGRV" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGNOTIFICACAO">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGNOTIFICACAO" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGPARAMNSE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGPARAMNSE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGPARAMSPED">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGPARAMSPED" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGPOPMAIL">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGPOPMAIL" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGPOPMAILNX">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGPOPMAILNX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGREADY">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGREADY" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGREADYEX">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGREADYEX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGSMTPMAIL">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGSMTPMAIL" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGSMTPMAILNX">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGSMTPMAILNX" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGSTATUSCERTIFICATE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGSTATUSCERTIFICATE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGTEMPOESPERA">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGTEMPOESPERA" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGTSSPORTAL">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGTSSPORTAL" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGTSSVERSAO">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGTSSVERSAO" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGVERSAO">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGVERSAO" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGVERSAOCTE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGVERSAOCTE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGVERSAODPEC">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGVERSAODPEC" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CFGVERSAONSE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/CFGVERSAONSE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GETALLINIPARAM">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/GETALLINIPARAM" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GETALLMVTSS">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/GETALLMVTSS" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GETDATECONT">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/GETDATECONT" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GETPARAMNSE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/GETPARAMNSE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GETPOPMAIL">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/GETPOPMAIL" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GETSMTPMAIL">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/GETSMTPMAIL" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LOTCCE">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/LOTCCE" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TSSCFGFTP">
      <soap:operation soapAction="http://webservices.totvs.com.br/spedcfgnfe.apw/TSSCFGFTP" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SPEDCFGNFE">
    <documentation>&lt;b&gt;Servio genrico de configurao do SPED-Nfe.&lt;/b&gt;&lt;br&gt;&lt;br&gt;Este servio permite a configurao dos parmetros do projeto SPED, tais como :&lt;br&gt;&lt;br&gt; 1) Certificados digitais;&lt;br&gt; 2)Modalidade de emisso;&lt;br&gt; 3)Ambiente;&lt;br&gt; 4)SMTP Server;&lt;br&gt; 5)POP Server</documentation>
    <port name="SPEDCFGNFESOAP" binding="s0:SPEDCFGNFESOAP">
      <soap:address location="http://sped.homologacao.totvs.com.br:8087/nfe/SPEDCFGNFE.apw" />
    </port>
  </service>
</definitions>